{% extends '_base.html' %}
{% load static %}

{% block custom_header %}
<link rel="stylesheet" href="{% static 'ioplibrary/css/book_list.css' %}">
{% endblock custom_header %}

{% block title %} IOP's Library {% endblock title %}

{% block content %}
    <div id="welcome-text">
        <h1><a href="{% url 'book_list' %}">Welcome to IOP's Library</a></h1>
        <br>
        Search for books and check availability for borrowing books from IOP's Library
    </div>
    <div id="search-container">
        <form id="search-form">
            {% csrf_token %}
            <div class="search-input">
                <input id="search-bar" type="text" autocomplete="off" autofocus="autofocus" name="iopl-searchbar" 
                placeholder="Start typing to search for books..." size="100" maxlength="100" value="">
            </div>
            <div class="search-filter">
                <b>Search by type: </b>
                <span class="search-choice">
                    <input class="search-option" type="radio" name="book_type" value="All" checked="checked"> All
                </span>
                {% for type in types %}
                <span class="search-choice">
                    <input class="search-option" type="radio" name="book_type" value="{{ type }}"> {{ type }}
                </span>
                {% endfor %}
            </div>
            <div class="search-filter">
                <b>Search in fields: </b>
                <span class="search-choice">
                    <input class="search-option" type="radio" name="field" value="All" checked="checked"> All
                </span>
                {% for field in field_list %}
                <span class="search-choice">
                    <input class="search-option" type="radio" name="field" value="{{ field.field_name }}"> {{ field.field_name }}
                </span>
                {% endfor %}
            </div>
            <div class="search-filter">
                <b>Search in information: </b>
                <span class="search-choice">
                    <input class="search-option" type="radio" name="column" value="All" checked="checked"> All
                </span>
                {% for column in book_columns %}
                <span class="search-choice">
                    <input class="search-option" type="radio" name="column" value="{{ column }}"> {{ column }}
                </span>
                {% endfor %}
            </div>
        </form>
    </div>

    <div id="book-list">
        {% for book in object_list %}
        <div class="book-container">
            <div class="book-cover-container">
                <img class="book-cover" src="/media/{{ book.cover }}" alt="" />
            </div>
            <div class="book-information-container">
                <ul class="book-information-list">
                    <li><b>Title:</b> {{ book.title }}</li>
                    <li><b>Authors:</b> {{ book.authors }}</li>
                    <li><b>Publisher:</b> {{ book.publisher }}</li>
                    <li><b>Type:</b> {{ book.type }}</li>
                    <li><b>Field:</b> {{ book.field }}</li>
                    <li><b>Year:</b> {{ book.year }}</li>
                    <li><b>Edition:</b> {{ book.edition }}</li>
                    <li><b>ISBN:</b> {{ book.isbn }}</li>
                    <li><b>Inventory Number:</b> {{ book.inventory_number }}</li>
                    <li><b>Quantity:</b> {{ book.units }}</li>
                    <li><b>Available:</b> {{ book.get_availability }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block custom_js %}
<script src={% static "ioplibrary/js/book_list.js" %}></script>
{% endblock custom_js %}