{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
    <h1>
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'logo.png' %}" height="40px" alt=""/>
        </a>
    </h1>
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'admin/css/custom_base_site.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src={% static "admin/js/custom_base_site.js" %}></script>
{% endblock %}