#welcome-text h1 a:hover {
  color: var(--clr-dark);
}

input[type=radio] {
  width: 16px;
  height: 16px;
}

#search-form {
  padding: 8px;
  margin: 16px 0;
}

.search-input-icon {
  min-width: 50px;
  width: 5%;
  color: #ffffff;
  background-color: rgb(var(--clr-light));
  border: 2px solid rgb(var(--clr-light));
}

#search-bar {
  border: 2px solid rgb(var(--clr-light));
  outline: none;
  box-shadow: none;
}

.search-filter {
  width: 100%;
  padding: 8px 24px;
  line-height: 1.6;
}

.search-option {
  padding: 0 12px;
  margin-left: 12px;
  text-align: left;
}

#search-result-notify {
  width: 100%;
}

#search-result-text {
  font-style: italic;
  padding: 0 8px;
}

#book-list {
  margin-bottom: 48px;
}

.book-container {
  border: 2px solid rgb(var(--clr-med-dark));
  border-radius: 1rem;
}

.search-filter b,
.book-container b {
  color: rgb(var(--clr-dark));
  font-style: normal;
  font-weight: 900;
}

.book-cover {
  width: 150px;
  height: 200px;
  border-radius: 0.3rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 2px;
}

footer {
  margin-top: auto;
  padding: 12px;
  width: 100%;
  height: 10vh;
  max-height: 10vh;
  text-align: center;
  border-top: 1px solid rgb(var(--clr-light));
}

.back-to-top-btn i {
  color: white;
}

.back-to-top-btn {
  display: none;
  background-color: rgb(var(--clr-light));
  position: fixed;
  right: 4%;
  bottom: 4%;
  width: 8vh;
  z-index: 999;
  text-align: center;
}

.back-to-top:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  .book-cover-container {
    display: none;
    padding: 0;
    margin: 0;
  }

  .book-information-list {
    margin: 0;
    display: grid;
    column-gap: 0;
    grid-template-columns: none;
    text-align: left;
  }

  .book-status-list {
    margin: 0;
    display: grid;
    column-gap: 0;
    grid-template-columns: none;
  }
}

@media (min-width: 768px) {
  .book-cover-container {
    display: block;
    flex: 1 1 0;
  }

  .book-information-container {
    flex: 5 5 0;
  }

  .book-information-list {
    margin: 0;
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(2, 1fr);
  }

  .book-status-list {
    margin: 0;
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}