@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap');


/* ------------------------------------- */
/* Custom properties                     */
/* ------------------------------------- */
:root {
  /* colors */
  --clr-dark: 33, 0, 98;
  --clr-light: 25, 167, 206;
  --clr-med-dark: 20, 108, 148;
  --clr-white: 255, 255, 255;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Balow", sans-serif;
}

/* ------------------------------------- */
/* Reset                                 */
/* ------------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up the body */
body {
  line-height: 1.5; /* default: 1.4 */
  min-height: 95vh; /* prevent short pages */
}

footer {
  min-height: 5vh;
}

/* make images easier to work with */
img, 
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
text,
textarea,
select {
  font: inherit;
}

/* ------------------------------------- */
/* Utilitity classes                     */
/* ------------------------------------- */

/* Layouts */
.flex-gap {
  gap: var(--gap, 0.1rem);
}

.flex-equally {
  flex-grow: 1;
}

/* Typographies */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

/* Color */
.text-dark { color: rgb(var(--clr-dark)); }
.text-med-dark{ color: rgb(var(--clr-med-dark)); }
.text-light { color: rgb(var(--clr-light)); }
.text-white { color: rgb(var(--clr-white)); }

.bg-dark { background-color: rgb(var(--clr-dark)); }
.bg-med-dark{ background-color: rgb(var(--clr-med-dark)); }
.bg-light { background-color: rgb(var(--clr-light)); }
.bg-white { background-color: rgb(var(--clr-white)); }